body{
    background-color:mediumpurple;
}

.tbl{
    border:solid 2px yellow;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

td {
    border: solid 2px yellow;
    color:yellow;
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
    background-color:cyan;
}

th {
    border: solid 2px yellow;
    color:yellow;
}

.menu{
    color:black;
}